* {
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
}


.cam {
    width: 16vw;
    height: 9vw;
    background-color: #d9d9d9;
    display: inline-block;
    border-radius: 15px;
    border: 3px solid #000000;
}

.master-cam {
    width: 16vw;
    height: 9vw;
    background-color: #d9d9d9;
    display: inline-block;
    border-radius: 15px;
    border: 3px solid #FFFF00;
    margin-left: 15.5%;
}

.vote_cam {
    width: 16vw;
    height: 9vw;
    background-color: #d9d9d9;
    display: inline-block;
    border-radius: 15px;
    border: 3px solid #ff0000;
}

.leave {
    width: 100%;
}

.ann_text {
    text-align: center;
}

.announcement {
    width: 100%;
    height: 9vw;
    margin-left: 4%;
    /* display: inline-block; */
}

.vote {
    background-color: #77e577;
    width: 50%;
    height: 40%;
    border-radius: 15px;
    border: none;
    margin-left: 25%;
}

.vote:hover {
    background-color: #68ca68;
}

.cams {
    width: 100%;
    margin-left: 7%;
    margin-top: 3%;
}

.player_num {
    width: 2vw;
    height: 2vw;
    background-color: #000000;
    border-radius: 25%;
    margin-top: -9.5vw;
    margin-left: -2.25vw;
    color: #ffffff;
    text-align: center;
    align-content: center;
}

.kill {
    width: 8vw;
    background-color: #f37777;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: none;
    margin-top: 4.75vw;
    margin-left: 4vw;
}

.kill:hover {
    background-color: #af5656;
}

.put_to_vote {
    width: 12vw;
    background-color: #77e577;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: none;
    margin-top: 4.75vw;
    margin-left: 2vw;
}

.put_to_vote:hover {
    background-color: #68ca68;
}

.your-role {
    width: auto;
    text-align: center;
    font-size: x-large;
}

.mafia-role {
    display: inline-block;
    color: #ff0000;
}

.citisen-role {
    display: inline-block;
    color: #77e577;
}