* {
    background-color: #272727;
    font-family: "Montserrat", sans-serif;
}
  
input[type=text], input[type=password] {
    width: 30%;
    padding: 15px;
    margin: 3px 0 20px 0;
    margin-left: 35%;
    display: inline-block;
    background-color: #272727;
    color: #ffffff;
    border: 2px solid #ff7070;
    border-radius: 15px;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #3e3e3e;
    color: #ffffff;
    outline: none;
  }

.lgnbutton {
  background-color: #04AA6D;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 20%;
  border-radius: 15px;
  margin-left: 40%;
}

button:hover {
  opacity: 0.8;
}

span.psw {
  float: right;
}

p {
    color: #ff7070;
    background-color: #272727;
}

label {
  margin-left: 35%;
}

.log-in {
    border: none;
    width: 100%;
    margin-top: 10px;
    height: 350px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.vhod {
  text-align: center;
  width: 100%;
  background-color: #272727;
}

.esh {
    margin-top: -25px;
    align-items: center;
    background-color: #272727;
}

h3 {
  margin-top: 5%;
  color: #ff7070;
}

.inputs {
  align-items: center;
  align-content: center;
  width: 100%;
}