* {
    background-color: #272727;
    font-family: "Montserrat", sans-serif;
}
  
input[type=text], input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 3px 20px 22px 0;
    display: inline-block;
    background-color: #272727;
    color: #ffffff;
    border: 2px solid #ff7070;
    border-radius: 15px;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #3e3e3e;
    color: #ffffff;
    outline: none;
  }

.lgnbutton {
  background-color: #04AA6D;
  padding: 14px 20px;
  margin: 8px 11%;
  border: none;
  cursor: pointer;
  width: 80%;
  border-radius: 15px;
  width: 300px;
}

button:hover {
  opacity: 0.8;
}

span.psw {
  float: right;
}

p {
    color: #ff7070;
    background-color: #272727;
}

.log-in {
    border: none;
    width: 33%;
    margin-left: 34%;
    height: 570px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.vhod {
  text-align: center;
}

.esh {
    margin-top: -25px;
    background-color: #272727;
}

.enter {
  color: #ff7070;

}