{% extends 'header.html' %}

{% block title %}
Log In
{% endblock %}

{% block css %}
<link rel="stylesheet" href="../static/css/login.css">
{% endblock %}

{% block main %}
<div class="esh">
<div class="log-in">
    <div class="inputs">
        <label for="username"><p>Имя пользователя</p></label>
        <br>
        <input type="text" placeholder="Enter Username" name="username" required>
        <br>
        <label for="password"><p>Пароль</p></label>
        <br>
        <input type="password" placeholder="Enter Password" name="password" required>
        <br>
        <button class="lgnbutton" type="submit">Войти</button>
    </div>
</div>
</div>
{% endblock %}